


  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  nav .logo img {
    height: 20px;
  }
  
 
  
  nav ul li a:hover {
    color: #f0a500;
    
    #nav-110 a.link-110 {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    transition: all 0.5s ease;
  }
  

 
  
  /* Footer Styles 
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
  }
  
  
  }
  
  