/* .main-section {
border: 2px solid black;
margin-bottom: 5px;
padding: 5px;
}

/* .sub-section {
border: 1.5px solid blue;
} */

/* .item {
	margin-bottom: 10px;
	padding: 8px;
}

.item-price {
	color: chocolate;
	font-size: 1em;
}

.column-container {
	column-count: 3;
	column-gap: 20px;
}

.column-container p{
	margin-bottom: 20px;
} */

body {
	font-family: Arial;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #F1F1F1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}